@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Monoton|Poiret+One|Unica+One&display=swap');
/*This is a comment */

body {
  box-sizing: border-box;
  margin: 0;
  font-size: 1em;
}

img {
  width: 100%;
}

header {
  /*padding: 100px 0 100px 0;
   top right bottom left*/
  padding: 220px 0 0 0;
  background-image: url(photos/history-duke-chapel-feat.jpg);
  background-position: center;
  background-size: cover;
}

header img{
  width: 150px;
  text-align: center;
  margin: auto;
  display: block;
  border-radius: 75px; /*make logo into circle*/
}

header figcaption{
  text-align: center;
  color: white;
  font-size: 1.2em;
}

nav {
  margin-top: 5px;
  background-color: PaleTurquoise;
}

nav ul{
  margin: 0 auto;
  padding: 10px 30px;
  width: 420px;
}

nav li {
  list-style-type: none;
  padding: 5px;
  display: inline-block;
}

li a, .botton a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
li a:hover {
  color: rgb(79, 208, 255);
}

.button a:active {
  color: rgba(242, 199, 27, 0.5);
}


#Home-Quote, #Home-Met, #MQM {
  padding: 5px 5%;
}
#Home-Quote {
  background-color: LightSkyBlue;
}
#Home-Met {
  background-color: Lightgray;
}
#Home-Pic {
  background-color: Azure;
}
#Home-Pic img {
  width: 300px;
  margin: auto;
  padding: 10px 0;
  display: block;
}

#Home-Quote img {
  padding: 5px;
  width: 250px;
  display: block;
  margin-left: 20px;
}

h1 {
  text-align: center;
  font-family: 'Fredericka the Great', sans-serif;
  color: blue;
  font-size: 2.5em;
  margin: 0;
  background-color: Azure;
  padding: 10px 10px;
}

h2 {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
}

p {
  margin: 20px 20px;
  line-height: 20px;
}

.date {
  margin: 0;
  background-color: Azure;
  padding: 10px 10px;
}
.button {
  background-color: rgb(27, 179, 128);
  width: 150px;
  padding: 10px;
  text-align: center;
  margin: 20px auto 20px auto;
  border-radius: 10px;
}
.button:hover{
  background-color: rgba(242, 199, 27, 0.5);
}

body {
  font-family: 'Unica One', sans-serif;
}
}
figure {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media only screen and (min-width: 650px){
  body{
    font-size: 1.2em
  }
  #Home-Met, #Home-Quote {
    overflow: auto;
  }
  #Home-Met .button{
    float: right;
    margin-left: 20px;
  }
  .float {
    float: right;
    width: 60%;
  }
}
